<ion-header>
  <ion-navbar>
    <ion-title>Scannées : {{ totalChecked }} / {{ totalOeuvres }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let oeuvre of oeuvres">

    <div style="position: relative">
      <img src="../../assets/imgs/oeuvres/{{ oeuvre.image }}">
      <ion-fab right top *ngIf="oeuvre.checked">
        <button ion-fab>
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-fab>
    </div>

    <ion-item>
      <ion-icon name="images" item-start large></ion-icon>
      <h2>{{ oeuvre.lastname }} {{ oeuvre.firstname }}</h2>
      <p>{{ oeuvre.code }}</p>
    </ion-item>

  </ion-card>

</ion-content>
